.common-table {
  tr {
    th {
      font-size: 12px !important;
    }
  }
  tbody {
    td {
      font-size: 12px !important;
      button {
        font-size: 12px !important;
      }
    }
  }
}
