.common-search {
  background: #fff;
  display: flex;
  padding: 24px 20px 24px 20px;
  border-bottom: 12px #f1f2f5 solid;
  .search-condition {
    display: flex;
    align-items: center;
  }
  .search-button {
    display: inline-flex;
    justify-content: flex-end;
    float: right;
    text-align: right;
    flex: 2;
  }
}
